
body {
  width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
}

h1{
	text-align: center;
}

h4{
  text-align: center;
}

div {
  display: flex;
  flex-wrap: wrap;
}

.youtube {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 0px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 50em) {
  .youtube {
    width: calc(25% - 6px);
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 54%;
	padding-top: 20%;
	height: 0;  
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border: none;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}
